* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: x-large;
    text-align: center;
    background-color: rgb(42,46,48);
    color: rgb(216,209,198);
    box-shadow: 0px 0px 1px gray;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100vw;
    height: 100px;
}

.content {
    width: 90vw;
    margin: auto;
    height: calc(100vh - 100px - 80px);
}

.footer {
    width: 100vw;
    height: 80px;
}

.TTimer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.timer{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 500px;
}

.timer-Tabata{
    width: 100%;
    padding: 20px;
    border: 20px inset black;
}

.timer-CyclesTabatas{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.timer-item{
    border: 20px inset black;
    width: 100%;
}

.settings{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    width: 40vw;
    padding: 0 3vw 0;
    cursor: default;
}

.settings-item {
    display: flex;
    flex-direction: row;
    margin: 5px 20px 5px;
    padding: 5px;
    background-color: rgb(37,40,42);
    border-radius: 5%;
}

.settings-txt{
    width: 65%;
    text-align: left;
    padding-left: 20px;
    background-color: rgb(37,40,42);
}

.settings-time{
    width: 35%;
    text-align: center;
    background-color: rgb(37,40,42);
}

.settings-ma{
    min-width: 30px;
    cursor: pointer;
    border: 2px solid rgb(37,40,42);
}

.settings-ma:hover{
    border: 2px solid rgb(194, 194, 194);
    background-color: rgb(106, 106, 107);
}
.btn-start{
    background-color: green;
    border: 2px solid rgb(37,40,42);
    margin: 15px 8vw 15px;
    color: black;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 10%;
    cursor: pointer;
}

.btn-start:hover{
    border: 2px solid rgb(49, 201, 29);
    background-color: lightgreen;
}

.btn-stop{
    background-color: rgb(196, 0, 0);
    border: 2px solid rgb(37,40,42);
    margin: 15px 8vw 15px;
    color: black;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 10%;
    cursor: pointer;
}

.btn-stop:hover{
    border: 2px solid rgb(255, 123, 123);
    background-color: rgb(255, 0, 0);
}

@media only screen and (max-width: 900px) {
   .timer{
       width: 100vw;
       height: 300px;
   }
   .settings{
       width: 100vw;
       height: 40%;
       padding: 0 9vw 0;
   }
  }