* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: x-large;
    text-align: center;
    background-color: rgb(42,46,48);
    color: rgb(216,209,198);
    box-shadow: 0px 0px 1px gray;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100vw;
    height: 100px;
}

.content {
    width: 90vw;
    margin: auto;
    height: calc(100vh - 100px - 80px);
}

.footer {
    width: 100vw;
    height: 80px;
}

.TTimer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.timer{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 500px;
}

.timer-Tabata{
    width: 100%;
    padding: 20px;
    border: 20px inset black;
}

.timer-CyclesTabatas{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.timer-item{
    border: 20px inset black;
    width: 100%;
}

.settings{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    width: 40vw;
    padding: 0 3vw 0;
}

.settings-item {
    display: flex;
    flex-direction: row;
    margin: 5px 20px 5px;
    padding: 5px;
    background-color: rgb(37,40,42);
    border-radius: 5%;
}

.settings-txt{
    width: 65%;
    text-align: left;
    padding-left: 20px;
    background-color: rgb(37,40,42);
}

.settings-time{
    width: 35%;
    text-align: center;
    background-color: rgb(37,40,42);
}

.settings-ma{
    min-width: 30px;
}



/*.settings-item::before, .settings-item::after{

    position: absolute;
    width: 30px;
    height: 30px;
    background-color: darkblue;
    text-align: center;
}
.settings-item::before{
    content: "-";
    left: -30px
}

.settings-item:hover::before{
    background-color: lightblue;
    cursor: pointer;
}

.settings-item::after{
    content: '+';
    right: -30px
}
*/
.settings-item-start{
    background-color: green;
    margin: 15px 8vw 15px;
    color: black;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 10%;
}

@media only screen and (max-width: 900px) {
   .timer{
       width: 100vw;
       height: 300px;
   }
   .settings{
       width: 100vw;
       height: 40%;
       padding: 0 9vw 0;
   }
  }